<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myzg.springboot.dao.EmployeeServer">

    <select id="findEmployeeById" parameterType="int" resultType="com.myzg.springboot.model.Employee">
        select * from  Employees where emp_no = #{emp_no}
    </select>

    <select id="findUserByName" parameterType="String" resultType="com.myzg.springboot.model.SQLUser">
        select user_name,user_password,user_authority from user where user_name like #{user_name}
    </select>

</mapper>